.nav {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
}

.nav h3 {
    margin-right: 20px;
}

.whiteButton {
    color: white !important; /* Ensures that the text color is white */
    border-color: white !important; /* For outlined buttons, ensures the border color is white */
}